@font-face {
  font-family: koverwatch;
  src: url('koverwatch.ttf');
}
body{
  background: -webkit-linear-gradient(165deg, #646464 70%, #6F887B 40%);
  background-size: 100vw 100vh;
  font-family: koverwatch;
  text-align:center;
  max-height: 500px;
}
/*
body:after{
  content : "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../image/Dices.jpg");
  width: 100vw;
  height: 100vh;
  opacity : 0.4;
  z-index: -1;
}
*/
/*#a{
  text-align: center;
  background-color: black;
  margin:auto;
  width: 600px;
}*/
#title{
  margin-top:130px;
  font-size:150px;
  color:white;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat:no-repeat;
  background-size: 100%;
  animation: animate 5s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: /*transparent;*/rgba(255,255,255,0);
}
@keyframes animate{
  0%{
    background-position: -250%;
    -webkit-text-stroke: 0px;
    background-size: 70%;
  }
  100%{
    background-position: 320%;
    -webkit-text-stroke: 0px;
    background-size: 70%;
  }
}
#nickname{
  display: inline-block;
  border-radius: 40px;
  border:none;
  background-color: #0F3067;
  width:200px;
  height:50px;
  margin-top:50px;
  margin-bottom:40px;
  padding-left:20px;
  padding-right:20px;
  font-size:20px;
  font-family: koverwatch;
  text-align:left;
  color: #FFF0F5;
}
#button{
  background: linear-gradient( to bottom, #B2FA5C, #2C952C);
  border-radius: 30px;
  border:none;
  padding:10px;
  width:150px;
  color:white;
  font-size:30px;
  font-family: koverwatch;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
#button:hover{
  background: linear-gradient( to bottom, #2C952C, #B2FA5C);
}
#button:active{
  transform:translateY(10px);
}
#dice{
  display: block;
  width: 200px;
  position: relative;
  left: 200px;
  bottom: 200px;
  animation: updown 2s ease infinite;
}
@keyframes updown{
  0%{
    /*transform: rotate(0deg);*/
  }
  50%{
    transform: translateY(-100px);
  }
  100%{
    /*transform: rotate(360deg);*/
    transform: translateY(0px);
  }
}
.pk{
  animation: lf 5s ease infinite;
}
.pk1{
  animation: lf1 5s ease infinite;
}
@keyframes lf{
  0%{

  }
  50%{
    transform: translateX(600px);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes lf1{
  0%{

  }
  50%{
    transform: translateX(-600px);
  }
  100%{
    transform: translateX(0px);
  }
}
